/* Common CSS */
p {
    text-align: justify;
}

.btn-light:hover {
    background-color: #1C1F22;
    color: white;
}

.cost-table, .promo {
    width: 50%;
}

/* Responsive CSS */
@media only screen and (max-width: 992px) {
    .cost-table {
        width: 100%;
    }

    .promo {
        width: 100%;
    }

    h1, h6, .memory, .storage, .delivery {
        text-align: center;
    }
}
